<article id="<%= dom_id(@question) %>" class="media mb-2">
  <div class="card card-body media-body">
    <h3><%= @question.title %></h3>
    <h6 class="mt-0 p-1 border-top border-bottom">
      <%= user_avatar @question.creator %>
      <%= @question.creator.name %>
      <small>asked at <%= local_time_ago(@question.created_at) %></small>
      <%= link_to "Edit", edit_question_path(@question), class: "text-right" if can_manage?(@question) %>
    </h6>
    <%= markdown @question.content %>

    <%= tag.div id: dom_id(@question, :likes) do %>
      <%= render "likes/likes", likeable: @question %>
    <% end %>
  </div>
</article>

<section id="answers">
  <%= render @question.answers %>
</section>

<section class="media mb-2" id="new_answer">
  <%= render "answers/form", question: @question, answer: @question.answers.new %>
</section>
