<article id="<%= dom_id(answer) %>" class="media mb-2">
  <%= user_avatar @question.creator, size: "24x24", class: "mr-1" %>
  <div class="card card-body media-body">
    <h6 class="mt-0">
      <%= answer.creator.name %>
      <small>posted at <%= local_time_ago(answer.created_at) %></small>
    </h6>

    <%= markdown answer.content %>

    <%= tag.div id: dom_id(answer, :likes) do %>
      <%= render "likes/likes", likeable: answer %>
    <% end %>
  </div>
</article>
