<article id="<%= dom_id(answer) %>" class="media mb-2">
  <%= user_avatar answer.creator, size: "24x24", class: "mr-1" %>

  <div class="card card-body media-body">
    <h6 class="mt-0">
      <%= answer.creator.name %>
      <small>posted at <%= local_time_ago(answer.created_at) %></small>

      <div class="actions float-right">
        <%= link_to "Edit", edit_question_answer_path(@question, answer), remote: true if can_manage?(answer) %>
        <%= link_to "Delete", question_answer_path(@question, answer), method: :delete, remote: true,
          data: { confirm: 'Are you sure?' }, class: "text-right" if can_manage?(@question) %>
      </div>
    </h6>

    <%= markdown answer.content %>

    <%= tag.div id: dom_id(answer, :likes) do %>
      <%= render "likes/likes", likeable: answer %>
    <% end %>
  </div>
</article>
